body {
  background-color: black;
}

#main-title {
  color: white;
  font-family: "Dancing Script", cursive;
  font-size: 50px;
  margin-top: 10px;
}

.navbar-brand {
  margin: 0 auto;
}

#search-col {
  margin-top: 20px;
}

#makeup-types {
  color: white;
  background-color: black;
  border-color: darkslategray;
  border-width: thick;
}

.filter-btn {
  color: white;
  background-color: black;
  border-color: white;
  border-width: thick;
}

.filter-btn:hover {
  color: white;
  border-color: darkred;
}

.popup-overlay {
  visibility: hidden;
}

.popup-content {
  visibility: hidden;
}

.popup-content.active {
  position: fixed;
  z-index: 1;
  visibility: visible;
  height: 500px;
  width: 300px;
  margin-left: 35px;
  padding: 20px;
  border: 15px solid #888;
  background-color: darkslategrey;
}

#makeup-img {
  max-width: 500px;
  height: auto;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  display: block;
  border: 4px solid white;
  padding: 20px;
}

@media only screen and (max-width: 600px) {
  #makeup-img {
    max-width: 300px;
    height: auto;
  }
}
